---
import Layout from "@layouts/Layout.astro";
import BlogPost from "@components/blog/BlogPost.astro";
import { getPostBySlug, getPostContent } from "../../utils/blog";

export const prerender = false;

const { slug } = Astro.params;
const postId = Array.isArray(slug) ? slug.join('/') : slug;

if (!postId) {
  return Astro.redirect('/blog');
}

const post = await getPostBySlug(postId);
if (!post) {
  return Astro.redirect('/blog');
}

const content = await getPostContent(postId);
---

<Layout>
  <main class="bg-gray-50">
    <BlogPost post={post} content={content} />
  </main>
</Layout>
