---
import Layout from "@layouts/Layout.astro";
import BlogPost from "@components/blog/BlogPost.astro";
import { getPostBySlugWithDetails, addAnchorsToContent } from "../../utils/blog";

export const prerender = false;

const { slug } = Astro.params;
const postId = Array.isArray(slug) ? slug.join('/') : slug;

if (!postId) {
  return Astro.redirect('/blog');
}

const result = await getPostBySlugWithDetails(postId);
if (!result) {
  return Astro.redirect('/blog');
}

const { post, tocItems } = result;
const content = addAnchorsToContent(post.content);
---

<Layout>
  <main class="bg-gray-50">
    <BlogPost post={post} content={content} tocItems={tocItems} topic={post.topic} />
  </main>
</Layout>
