---
import Layout from "../layouts/Layout.astro";
import About from "../components/about/About.astro";
---

<Layout title="Law Firm - Expert Legal Services">
  <main>
    <About />
  </main>
</Layout>
