---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";
import PracticeAreas from "../components/home/PracticeAreas.astro";
import BlogGrid from "../components/blog/BlogGrid.astro";

import { getAllPostsWithTopics } from "../utils/blog";

const posts = await getAllPostsWithTopics();
const recentPosts = posts.slice(0, 3);
---

<Layout title="Şahbaz & Gedik Avukatlık Bürosu - Uzman Hukuki Hizmetler">
  <main class="bg-gray-50">
    <Hero />
    <PracticeAreas />
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-16">
      <h2
        class="text-3xl md:text-4xl text-center font-serif font-bold text-law-primary mb-8"
      >
        Son Blog Yazıları
      </h2>
      <BlogGrid posts={recentPosts} />
    </div>
  </main>
</Layout>
