---
const currentYear = new Date().getFullYear();
---

<footer
  class="bg-law-primary text-white justify-center items-center text-center"
>
  <div
    class="text-center center-items max-w-7xl mt-4 mb-4 mx-auto px-4 sm:px-6 lg:px-8 py-2"
  >
    <div class="text-center">
      <h3 class="text-xl font-serif font-semibold mb-4">Bize Ulaşın</h3>
      <address class="not-italic">
        <p>Mehmet Akif Ersoy Mahallesi</p>
        <p>274. Sokak 1/B Wings Plaza No: 78</p>
        <p>Yenimahalle/Ankara</p>
        <p class="mt-2">Telefon: 0546 567 36 06 - 0541 915 65 87</p>
        <p>E-posta: sahbazgedikavukatlikburosu@gmail.com</p>
      </address>
    </div>
    <div class="mt-8 pt-8 border-t border-gray-700 text-center">
      <p>
        &copy; {currentYear} Şahbaz & Gedik Avukatlık Bürosu. Tüm hakları saklıdır.
      </p>
      <p class="text-sm text-gray-300 mt-2">
        Bu site minimal veri toplama prensibini benimser.
        <a href="/sss" class="underline hover:text-white"
          >Gizlilik politikamızı</a
        > inceleyebilirsiniz.
      </p>
    </div>
  </div>
</footer>
