---
import Header from "../components/common/Header.astro";
import Footer from "../components/common/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <title>Şahbaz & Gedik Avukatlık Bürosu </title>
  </head>
  <body class="min-h-screen flex flex-col">
    <Header />
    <main class="flex-grow bg-gray-50 pt-20">
      <slot />
    </main>
    <Footer />
  </body>
</html>
