---
import Header from "../components/common/Header.astro";
import Footer from "../components/common/Footer.astro";
import VisitorLogger from "../components/common/VisitorLogger.astro";
import "../styles/blog.css";

interface Props {
  title?: string;
}

const { title = "Şahbaz & Gedik Avukatlık Bürosu" } = Astro.props;
---

<!doctype html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <title>{title}</title>
  </head>
  <body class="min-h-screen flex flex-col">
    <Header />
    <main class="flex-grow bg-gray-50 pt-20">
      <slot />
    </main>
    <Footer />
    <VisitorLogger />
  </body>
</html>
